<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
      <button class="close" type="button" aria-label="Close" data-dismiss="alert">
        <span aria-hidden="true">
          &times;
        </span>
      </button>
      <span>
        <%= value %>
      </span>  
  </div>
<% end %>