<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">A project by Alex Lewis &copy;</span>
    </div>
  </div>
</nav>
