<nav class="navbar navbar-inverse navbar-fixed-top navbar-top-margin" >
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "myDashboard", new_user_session_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>


  