@import "bootstrap-sprockets";
@import "bootstrap";


/* Navbar fixed styling for header and footer */

body {
  padding-top: 50px; 
  padding-bottom: 50px;
}

.navbar-top-margin {
  margin-bottom: 0px;
}

/* Style the flash messages from devise */

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* Style the devise authentication pages */

.signin-container {
  background-color: rgb(52, 9, 72);
}

.form-signin {
  max-width: 400px;
  padding-top: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .form-signin-checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;  
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin {

  input[type="name"] {
    margin-bottom: -1px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
      
  input[type="password"] {
    margin-bottom: -1px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }

} 






















