@import "bootstrap-sprockets";
@import "bootstrap";


/* Navbar fixed styling for header and footer */

body {
  padding-top: 50px; 
  padding-bottom: 50px;
}

.navbar-top-margin {
  margin-bottom: 0px;
}

/* Style the flash messages from devise */

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}































